@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .container-custom {
        padding:2rem 6rem;
        margin:0 auto;

        @media (max-width: 768px) {
            padding: 1rem;
        }

        @media (max-width: 480px) {
            padding: .5rem;
        }
    }
}
